<ion-view title="AR Rahman" id="AB1" style="background-color:#FFFFFF;">

  <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
    <ion-list></ion-list>
    <div style="text-align:left;">
      <img src="img/team/1.jpg" width="100px" height="auto">
    </div>
    <ion-list></ion-list>
    <div id="AB1-markdown9" style="color:#000000;">
          <p>A. R. Rahman is an Indian composer, singer-songwriter, music producer, musician, multi-instrumentalist and philanthropist. Described as the world's most prominent and prolific film composer by Time, his works are notable for integrating Eastern
            classical music with electronic music sounds, world music genres and traditional orchestral arrangements. He has won two Academy Awards, two Grammy Awards, a BAFTA Award, a Golden Globe, four National Film Awards, fifteen Filmfare Awards
            and thirteen Filmfare Awards South in addition to numerous other awards and nominations.His extensive body of work for film and the stage earned him the nickname "the Mozart of Madras" and several Tamil commentators and fans have coined
            him the nickname Isai Puyal (English: Music Storm).</p>
    </div>
  </ion-content>
</ion-view>
