<ion-view title="Mukesh" id="AB11" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <ion-list></ion-list>
        <div style="text-align:left;">
            <img src="img/team/11.jpg" width="100px" height="auto">
        </div>
        <ion-list></ion-list>
        <div id="AB11-markdown8" style="color:#000000;">
            <p>
			Mukesh Babu is an Indian film actor and producer known for his work in Malayalam cinema.
			Mukesh made his debut in the film Baloon. He gained prominence for both his comedy and drama centred roles. In 2007, Mukesh turned to production as well. He formed Lumiere Film Company along with Sreenivasan. Their first venture Katha Parayumpol (2007) was a commercial success. Their second film ThattathinMarayathu (2012) was a huge success as well. In 2014, he won the Kerala film critcs award for his performance in English.
			</p>
        </div>
    </ion-content>
</ion-view>
