<ion-view title="SibiMalayil" id="AB12" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <ion-list></ion-list>
        <div style="text-align:left;">
            <img src="img/team/12.jpg" width="100px" height="auto">
        </div>
        <ion-list></ion-list>
        <div id="AB12-markdown8" style="color:#000000;">
            <p>
			SibiMalayil  is an Indian film director known for his work in Malayalam cinema, most popular for hismelodramas of the 1980s and 1990s.Since the mid-1980s he has directed around forty films. Before becoming an independent director, he assisted eminent directors such as Priyadarshan and Fazil. Films such as Cheekeran oru chillu(1986), Thaniyavarthanam (1987), Kireedam (1989),Dasharatham (1989), His Highness Abdullah (1990), Maalayogam (1990), Bharatham (1991), Sadayam (1992), Kamaladalam(1992), Akashadoothu (1993), and Chenkol (1993) defined the way Malayalam films were made, especially in the late 1980s and early 1990s.
			</p>
        </div>
    </ion-content>
</ion-view>