<ion-view title="B Unnikrishnan" id="AB13" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <ion-list></ion-list>
        <div style="text-align:left;">
            <img src="img/team/13.jpg" width="100px" height="auto">
        </div>
        <ion-list></ion-list>
        <div id="AB13-markdown8" style="color:#000000;">
            <p>
			B. Unnikrishnan  is an Indian film director and screenwriter who works in Malayalam cinema.He started his career as a screenwriter in 2000 by writing Jalamarmaram which won him the Kerala State Award for the best screenplay in 2000. This was followed by Cover Story and two films directed by Shaji Kailas: Sivam and The Tiger. He directed his first film, Smart City in 2006. He continued directing including the films, Madambi andGrandmaster.
			</p>
        </div>
    </ion-content>
</ion-view>