<ion-view title="Ramesh Aravind" id="AB14" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
	
        <ion-list></ion-list>
        <div style="text-align:left;">
            <img src="img/team/14.jpg" width="100px" height="auto">
        </div>
        <ion-list></ion-list>
        <div id="AB14-markdown8" style="color:#000000;">
            <p>
			Ramesh Aravind is an Indian actor, writer, director, producer and a TV host.[2]He has predominantly worked in Kannada and Tamil films whilst acting in a few Telugu, Malayalam and Bollywood films. Ramesh is known for his roles in SathiLeelavathi, Duet, America America, NammooraMandaraHoove, UltaPalta, Hoomale and AmruthaVarshini.
			He has earned and been nominated for numerous awards during his career, including winning two Filmfare Awards for Best Actor and Karnataka State Awards for Best Actor and Best story for his script in Hoomale, as well as Udaya TV and Suvarna TV Awards.
			</p>
        </div>
    </ion-content>
</ion-view>