<ion-view title="RadikaaSharathkumar" id="AB15" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <ion-list></ion-list>
        <div style="text-align:left;">
            <img src="img/team/15.jpg" width="100px" height="auto">
        </div>
        <ion-list></ion-list>
        <div id="AB15-markdown8" style="color:#000000;">
            <p>
			RaadhikaSarathkumar is an Indian television and film actress, entrepreneur and producer.
			She is the founder of RadaanMediaworks India Limited, which has produced successful serials Chitti, Annamalai, Selvi, Arasi, andIdi Katha Kadu (Telugu). She is an Indian film actress known for her works predominantly in Tamil and Telugu cinema and few Malayalam films and popular in the 1980s. She has acted in over 200 films in Tamil, Telugu, Malayalam, Kannada and Hindi. She was a top mainstream actress over a decade of the years from 1978 to 1990.She was a judge on Vijay TV'sJodi Number One Season 4. She has also produced a film titled MeendumOruKaadhalKathai, which won the Indira Gandhi Award for Best First Film of a Director.
			</p>
        </div>
    </ion-content>
</ion-view>
