<ion-view title="Kamal Haasan" id="AB2" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <ion-list></ion-list>
        <div style="text-align:left;">
            <img src="img/team/2.jpg" width="100px" height="auto">
        </div>
        <ion-list></ion-list>
        <div id="AB2-markdown9" style="color:#000000;">
            <p>Kamal Haasan is a world renowned Indian film actor, screenwriter, director, producer, playback singer, choreographer, lyricist, philanthropist and dancer who works primarily in the Tamil film industry. He has won several Indian film awards
                including four National Film Awards and 19 Filmfare Awards. With seven submissions, Kamal Haasan has starred in the highest number of films submitted by India for the Academy Award Best Foreign Language Film. Haasan's production company,
                Rajkamal International, has produced several of his films. Kamal Haasan received the Kalaimamani Award in 1979, the Padma Shri Award in 1990 and the Padma Bhushan Award in 2014.</p>
        </div>
    </ion-content>
</ion-view>
