<ion-view title="Suresh Babu" id="AB3" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <ion-list></ion-list>
        <div style="text-align:left;">
            <img src="img/team/3.jpg" width="100px" height="auto">
        </div>
        <ion-list></ion-list>
        <div id="AB3-markdown8" style="color:#000000;">
            <p>
			Daggubati Suresh Babu is a Telugu film producer, studio owner and distributor and managing director of Suresh Productions. He produced several hit films under Suresh Productions including Bobbili Raja, Coolie No.1, PreminchukundamRaa, Ganesh,KalisundamRaa, JayamManadeRaa, Nuvvulekanenulenu, Malliswari, Tulasi, Drushyam and GopalaGopala.
			</p>
        </div>
    </ion-content>
</ion-view>