<ion-view title="KS Rama Rao" id="AB4" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <ion-list></ion-list>
        <div style="text-align:left;">
            <img src="img/team/4.jpg" width="100px" height="auto">
        </div>
        <ion-list></ion-list>
        <div id="AB4-markdown8" style="color:#000000;">
            <p>
			K. S. Rama Rao is a Tollywood producer who established the Creative Commercials banner and has produced a number of popular films,including Mounageetam, Abhilasha,Rakshasudu, Chanti, Matrudevobhava, and SwarnaKamalam.
			</p>
        </div>
    </ion-content>
</ion-view>