<ion-view title="BoneyKapoor" id="AB5" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <ion-list></ion-list>
        <div style="text-align:left;">
            <img src="img/team/5.jpg" width="100px" height="auto">
        </div>
        <ion-list></ion-list>
        <div id="AB5-markdown8" style="color:#000000;">
            <p>
			BoneyKapoor is an acclaimed Indian film producer and one of the largest producers in Bollywood with blockbusters like Mr. India, No Entry, Judaai and Wanted to his credit.
			</p>
        </div>
    </ion-content>
</ion-view>