<ion-view title="Nagarjuna" id="AB6" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <ion-list></ion-list>
        <div style="text-align:left;">
            <img src="img/team/6.jpg" width="100px" height="auto">
        </div>
        <ion-list></ion-list>
        <div id="AB6-markdown8" style="color:#000000;">
            <p>
			AkkineniNagarjuna is a renowned  Indian film actor, producer and television presenter who works primarily in Telugu Cinemaand Television. He has acted in over ninety films as an actor in a lead, supporting and cameo roles, includingBollywood and Tamil films.He is also popular in Maharashtra, other than Telangana and Andhra Pradesh. He has received twoNational Film Awards, nine state Nandi Awards and three Filmfare Awards-South. He received critical reception for his performance in biographical and historical films.
			</p>
        </div>
    </ion-content>
</ion-view>