<ion-view title="AlluAravind" id="AB7" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <ion-list></ion-list>
        <div style="text-align:left;">
            <img src="img/team/7.jpg" width="100px" height="auto">
        </div>
        <ion-list></ion-list>
        <div id="AB7-markdown8" style="color:#000000;">
            <p>
			AlluAravind is a well-known Indian film producer and distributor in Tollywood and political candidate. He produces films under his production banner Geetha Arts with his brother-in-law, Chiranjeevi.
			</p>
        </div>
    </ion-content>
</ion-view>