<ion-view title="ResulPookutty" id="AB8" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <ion-list></ion-list>
        <div style="text-align:left;">
            <img src="img/team/8.jpg" width="100px" height="auto">
        </div>
        <ion-list></ion-list>
        <div id="AB8-markdown8" style="color:#000000;">
            <p>
			ResulPookutty is a master sound designer, sound editor and mixer. Resul made his debut in sound design with the 1997 film Private Detective: Two Plus Two Plus One. 
			One of his major projects was the critically acclaimed 2005 film ,Black. He subsequently engineered sound for major productions like Musafir, Zinda, Traffic Signal, Gandhi, My Father, Saawariya and DusKahaniyaan. He designed sound for the 2008 blockbuster Ghajini.His first major international project Slumdog Millionaire won him an Academy Award and a BAFTA Award for the sound design.
			</p>
        </div>
    </ion-content>
</ion-view>