<ion-view title="R.B.Choudary" id="AB9" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <ion-list></ion-list>
        <div style="text-align:left;">
            <img src="img/team/9.jpg" width="100px" height="auto">
        </div>
        <ion-list></ion-list>
        <div id="AB9-markdown8" style="color:#000000;">
            <p>
			R.B.Choudary is a Tamil film producer of Telugu origin who has done many multilingual films in 4 languages, namely Tamil,Telugu, Malayalam and Hindi. He is the head of the production house, Super Good Films. He won 3 Filmfare Awards for Tamil and Telugu films.
			</p>
        </div>
    </ion-content>
</ion-view>