<ion-view title="Advisory Board" id="page6" style="background-color:#FFFFFF;" 
cache-view="false" view-title="Advisory Board">
  <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">

        <h1 id="advisoryBoard-heading8" style="color:#E9A417;text-align:center;">Advisory Board</h1>
        <h5 id="advisoryBoard-heading9" style="color:#636350;text-align:center;">IIFA Utsavam's illustrious Advisory Board comprises eminent personalities which include</h5>
    <ion-list class="animate-ripple">

            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB1">
			<!-- <ion-item class="item-thumbnail-left item-avatar" ui-sref="menu.AB1"> -->

				<img src="img/team/1.jpg">
                <h2>A.R. Rahman</h2>
                <p>A. R. Rahman is an Indian composer, singer-songwriter, music producer, musician, multi-instrumentalist and philanthropist. Described as the world's most prominent and prolific film composer by Time, his works are notable for integrating Eastern classical music with</p>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB2">
                <img src="img/team/2.jpg">
                <h2>Kamal Hassan</h2>
                <p>Kamal Haasan is a world renowned Indian film actor, screenwriter, director, producer, playback singer, choreographer, lyricist, philanthropist and dancer who works primarily in the Tamil film industry. He has won several Indian film awards including four </p>
              <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB3">
                <img src="img/team/3.jpg">
                <h2>Suresh Babu</h2>
                <p>Daggubati Suresh Babu is a Telugu film producer, studio owner and distributor and managing director of Suresh Productions. He produced several hit films under Suresh Productions including Bobbili Raja, Coolie No.1, Preminchukundam Raa</p>
              <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB4">
                <img src="img/team/4.jpg">
                <h2>KS Rama Rao</h2>
                <p>K. S. Rama Rao is a Tollywood producer who established the Creative Commercials banner and has produced a number of popular films,including Mounageetam, Abhilasha,Rakshasudu, Chanti, Matrudevobhava, and Swarna Kamalam.</p>
              <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB5">
                <img src="img/team/5.jpg">
                <h2>Boney Kapoor</h2>
                <p>Boney Kapoor is an acclaimed Indian film producer and one of the largest producers in Bollywood with blockbusters like Mr. India, No Entry, Judaai and Wanted to his credit</p>
              <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB6">
              <img src="img/team/6.jpg">
              <h2>
                Nagarjuna
              </h2>
              <p>
                Akkineni  Nagarjuna is a renowned  Indian film actor, producer and television presenter who works primarily in Telugu Cinema and Television. He has acted in over ninety films as an actor in a lead, supporting and cameo roles, including Bollywood and
              </p>
              <i class="icon ion-chevron-right"></i>
            </ion-item>

            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB7">
              <img src="img/team/7.jpg">
              <h2>
                Allu Aravind
              </h2>
              <p>
                Allu Aravind is a well-known Indian film producer and distributor in Tollywood and political candidate. He produces films under his production banner Geetha Arts with his brother-in-law, Chiranjeevi.
              </p>
              <i class="icon ion-chevron-right"></i>
            </ion-item>

            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB8">
              <img src="img/team/8.jpg">
              <h2>
                Resul Pookutty
              </h2>
              <p>
                Resul Pookutty is a master sound designer, sound editor and mixer. Resul made his debut in sound design with the 1997 film Private Detective: Two Plus Two Plus One.
                One of his major projects was the critically acclaimed
              </p><i class="icon ion-chevron-right"></i>
            </ion-item>

            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB9">
              <img src="img/team/9.jpg">
              <h2>
                R. B. Choudary
              </h2>
              <p>
                R.B. Choudary is a Tamil film producer of Telugu origin who has done many multilingual films in 4 languages, namely Tamil, Telugu, Malayalam and Hindi. He is the head of the production house, Super Good...
              </p><i class="icon ion-chevron-right"></i>
            </ion-item>

            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB10">
              <img src="img/team/10.jpg">
              <h2>
                Ram Kumar
              </h2>
              <p>
              </p>
            </ion-item>

            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB11">
              <img src="img/team/11.jpg">
              <h2>
                Mukesh
              </h2>
              <p>
                Mukesh made his debut in the film Baloon. He gained prominence for both his comedy and drama centred roles. In 2007, Mukesh turned to production as well. He formed Lumiere Film Company along with..
              </p><i class="icon ion-chevron-right"></i>
            </ion-item>

            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB12">
              <img src="img/team/12.jpg">
              <h2>
                Sibi Malayil
              </h2>
              <p>
                Sibi Malayil  is an Indian film director known for his work in Malayalam cinema, most popular for his melodramas of the 1980s and 1990s. Since the mid-1980s he has directed around forty films. Before becoming an independent director, he assisted eminent directors such
              </p><i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB13">
              <img src="img/team/13.jpg">
              <h2>
                B Unnikrishnan
              </h2>
              <p>
                B. Unnikrishnan  is an Indian film director and screenwriter who works in Malayalam cinema. He started his career as a screenwriter in 2000 by writing Jalamarmaram which won him the Kerala State Award for the best screenplay
              </p><i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB14">
              <img src="img/team/14.jpg">
              <h2>
                Ramesh Aravind
              </h2>
              <p>
                Ramesh Aravind is an Indian actor, writer, director, producer and a TV host.[2]He has predominantly worked in Kannada and Tamil films whilst acting in a few Telugu, Malayalam and Bollywood films. Ramesh is known for his roles in
              </p><i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item nav-clear class="item-icon-right item-thumbnail-left item-avatar" ui-sref="menu.AB15">
              <img src="img/team/15.jpg">
              <h2>
                Radikaa Sharathkumar
              </h2>
              <p>
                Raadhika Sarathkumar is an Indian television and film actress, entrepreneur and producer. She is the founder of Radaan Mediaworks India Limited, which has produced successful serials Chitti, Annamalai, Selvi, Arasi, andIdi Katha Kadu
              </p><i class="icon ion-chevron-right"></i>
            </ion-item>




        </ion-list>
    </ion-content>
</ion-view>
