<ion-view title="IIFA Utsavam" id="page5" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <h1 id="iIFAUtsavam2016-heading6" style="color:#E9A417;text-align:center;">IIFA Utsavam</h1>
        <h4 id="iIFAUtsavam2016-heading7" style="color:#636350;text-align:center;">On home ground</h4>
        <div id="iIFAUtsavam2016-markdown5" style="color:#5A5353;text-align:justify;">
            <p>Encompassing four massive film industries of South India, the Tamil, the Telugu, the Malayalam and the Kannada- The Cinema of South India is being celebrated as a single entity. Known for its larger-than-life movies, flamboyant superstars,
                immense talent pool, technologically advanced productions, loyal fan following, the Cinema of the South has created waves not only in India but also made a name for itself on the global map.</p>
        </div>
        <div id="iIFAUtsavam2016-markdown6" style="color:#5A5353;text-align:justify;">
            <p>Having journeyed the world for 16 years IIFA has taken India cinema to the world but it is now time to bring the world to India and for IIFA to come home. It is with this objective that we are pleased to announce the launch of IIFA Utsavam,
                where we endeavor to bring the world to Hyderabad through international recognition and association of brand IIFA. The aim is to bring recognition, prestige and glory to the South Indian Film industries, by felicitating them and recognizing
                their achievements and triumphs annually. The IIFA Utsavam weekend will help give the Southern film industries a bigger global platform to grow a larger audience across India and internationally. By hosting the premiere edition of the
                annual event this December at Hyderabad, IIFA Utsavam will bring together for the first time the four main industries; Malayalam, Tamil, Telugu and Kannada for a major 2-day event.</p>
        </div>
    </ion-content>
</ion-view>