<ion-view title="IIFA Weekend" id="page4" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <h1 id="iIFAWeekend-heading4" style="color:#E9A417;text-align:center;">IIFA Weekend</h1>
        <h4 id="iIFAWeekend-heading5" style="color:#636350;text-align:center;">One big party</h4>
        <div id="iIFAWeekend-markdown3" style="color:#5A5353;text-align:justify;">
            <p>Mammoth productions and multi-crore deals. Big-ticket releases and trade analysis. Publicity, tie-ups, buzz. The world's biggest movie industry is hard at work round-the-clock, all through the year. The stakes are big, the pressure intense
                and the need to stay on top of things, overwhelming. But there's one time during the year when hotshot filmmakers and their cavalcade of stars allow themselves a breather. The box-office and critics, overseas collections and high-powered
                negotiations take a backseat. It's time to exhale and breathe in a fresh burst of energy and excitement. It's time for the film folk to revel in their work and colleagues. IIFA helps the industry connect with one another in a faraway location,
                leaving the rigors of their profession aside. The IIFA Weekend, from the point of view of the stars, is the grandest of all parties. A grand, exciting, foot-tapping, back-slapping, ice-breaking party. It's where they get to meet their
                friends and rivals, old colleagues and new acquaintances, in an atmosphere of genuine bonhomie. IIFA Weekend activities range from stars discovering cities on bikes and petting lion cubs, getting pampered at spas and entranced by history,
                and the fun culminates with the rocking after-parties. THE IIFA WEEKEND ..ONE BIG PARTY</p>
        </div>
    </ion-content>
</ion-view>