<ion-view title="IIFA : The Legacy" id="page2" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <h1 id="iIFATheLegacy-heading2" style="color:#E9A417;text-align:center;">16 years of IIFA</h1>
        <h4 id="iIFATheLegacy-heading3" style="color:#636350;text-align:center;">Creating a legacy</h4>
        <div id="iIFATheLegacy-markdown1" style="color:#5A5353;text-align:justify;">
            <p>For the past 16 years, since the IIFA Weekend and Awards came into being, so much has changed, so many people influenced, countries explored &amp; many new audiences added. Not only has Indian Cinema expanded its wings and explored new horizons,
                but it has also made stronger bonds with new nations and made an intense connect with Hollywood. After captivating audiences in 14 locations across 5 continents, the grandest celebration of Indian Cinema celebrated in Kuala Lumpur this
                year</p>
        </div>
        <div id="iIFATheLegacy-markdown2" style="color:#5A5353;text-align:justify;">
            <p>The 16th annual edition of IIFA Weekend &amp; Awards was hosted in Kuala Lumpur, Malaysia on June 5-7, 2015. The IIFA Weekend &amp; Awards are eagerly awaited and anticipated by fans around the world as they present the opportunity of a lifetime
                for guests to witness an action-packed weekend showcasing the best of Bollywood. The 3-day IIFA Weekend celebrates Indian Cinema in its grandest form, with elements of culture, business, film, fashion, entertainment and music from India.</p>
        </div>
    </ion-content>
</ion-view>