<ion-view title="Itinerary" id="page10" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header iifa-background-img">
        <h1 id="itinerary-heading14" style="color:#E9A417;text-align:center;">IIFA Utsavam : Itinerary</h1>
        <h4 id="itinerary-heading15" style="color:#636350;text-align:center;">First Edition</h4>
        <div id="itinerary-markdown10" style="color:#5A5353;text-align:justify;">
            <p>December 2015 will witness IIFA, India's biggest celebration of Cinema, celebrating South Indian Cinema like never before. Marking a landmark event in the illustrious history of the Cinema of South India, The International Indian Film Academy
                (IIFA) has announced IIFA UTSAVAM - a magnificent extravaganza envisioned to honor and recognize the best of South India's film industry. Spanning across three days, IIFA Utsavam will debut on the 4th, 5th &amp; 6th of December, 2015 at
                Gachibowli Outdoor Stadium, Hyderabad.</p>
        </div>
        <div id="itinerary-markdown11" style="color:#5A5353;text-align:justify;">
            <p>Day 1 of the event will see IIFA partnering with FICCI for the FICCI-IIFA Business Forum. The forum will feature prominent film personalities, CEOs, policy makers and industry leaders meet to discuss Cinema-tourism, infrastructure, media,
                cinema co-productions and investment opportunities.</p>
        </div>
        <div id="itinerary-markdown12" style="color:#5A5353;text-align:justify;">
            <p>On Day 2, IIFA Utsavam will felicitate and celebrate talent from Tamil &amp; Malayalam film industries.</p>
        </div>
        <div id="itinerary-markdown13" style="color:#5A5353;text-align:justify;">
            <p>On the final day, IIFA Utsavam will felicitate and celebrate the best talent from Kannada and Telugu cinema. Nominees be vying for 12 popular awards; 6 special awards will be presented to winners from each region. Common across the 4 language-cinemas,
                technical Awards will be presented for 10 categories.</p>
        </div>
    </ion-content>
</ion-view>